html, body {
    background-color: #2b2b2b;
}

.container {
    max-width: 960px;
    margin: auto;
}

img {
    max-width: 100%;
}

.inbox_people {
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
    background-color: #2b2b2b;
}

.inbox_msg {
    border: solid #4c4c4c 1px;
    clear: both;
    overflow: hidden;
    background-color: #1b1e21;
    height: 80%;
}

.top_spac {
    margin: 20px 0 0;
}


.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: 550px;
    overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg {
    margin-bottom: 20px;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.outgoing_msg_img {
    display: inline-block;
    float: right;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg {
    background: #660000 none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 57%;
}

.sent_withd_msg {
    background: #c4c4df none repeat scroll 0 0;
    border-radius: 3px;
    color: black;
    font-size: 18px;
    margin: 0;
    margin-right: 10px;
    padding: 10px;
    min-height: 81px;
}

.time_date {
    text-align: right;
    color: black;
    display: block;
    font-size: 14px;
    margin: 8px 0 0;
    float: right;
    top: -40px;
    position: relative;
}

.mesgs {
    padding: 0px 5px 0 15px;
    width: 100%;
}

.sent_msg p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: black;
    padding: 5px 10px 15px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 8px 0 8px;
}

.sent_msg {
    float: right;
    width: 100%;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

.messaging {
    padding: 0 0 50px 0;
}

.msg_history {
    height: 100%;
    overflow-y: auto;
}

.audio_header {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

.audio_player {
    margin: 0;
}

.audio_player audio {
    height: 30px;
}

h5.titleHeader {
    color: floralwhite;
    display: inline;
    display: inline-block;
    margin-top: 10px;
}

.msg_entry {
    margin-top: 14px;
    text-align: center;
}

textarea.msg_text {
    vertical-align: top;
    width: 60%;
    height: 80px;
}

button.msg_submit {
    width: 80px;
    height: 80px;
}

.sent_withd_msg span.app {
    float: left;
    max-width: 60px;
    max-height: 60px;
    display: inline-block;
    margin-right: 8px;
}

div.nodata {
    padding: 20px;
    color: white;
}

div.loadmore {
    margin: 20px;
    text-align: center;
}
div.versionFooter {
    color: antiquewhite;
    float: right;
}
div.balanceDisplay {
    padding-top:8px;
    padding-right:8px;
    padding-left:8px;
    float:right;
    color: floralwhite;
    -webkit-transition: background-color 2s;
            transition: background-color 2s;
}
div.balanceDisplay span.good {
    colorcolor:greenyellow;
}
div.balanceDisplay span.error {
    color:darkred;
}
div.balanceDisplay.bump {
    background-color: #1e7e34;
}
div.piIcon {
    padding-top:8px;
    padding-right:2px;
    float:right;
}
span.csv {
    padding-right:8px;
}
span.csv a {
    text-decoration: none;
}
div.nodata span.invindex {
    color: orange;
}
/* https://loading.io/css/ */
.lds-dual-ring {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
